@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@500;700&display=swap');

@font-face {
  font-family: '7Segment';
  src: url('/fonts/dseg7classic-bolditalic-webfont.woff2') format('woff2'),
       url('/fonts/dseg7classic-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#__next {
  height: 100%;
}

html, body {
  height: 100%;
  color: #fff;
  background-color: #121212;
  font-family: 'Sarpanch', sans-serif;
}